
@{
    ViewData["Title"] = "Bienvenido";
}

<h1>Bienvenido</h1>

<ul>
    @{
        int numVeces = (int)ViewData["numVeces"];
        for (int i = 1; i < numVeces + 1; i++)
        {
            <li>@ViewData["nombre"], veces mostrado = @i</li>
            //<li>@ViewData["Message"]</li>
        }
    }
</ul>

